
    <%- include('partials/header'); -%>
    <h1>Home</h1>
    <p><%=content%></p>



<%post.forEach(function(item){%>
  <h1><%=item.title%></h1>
  <p><%=item.article.substring(0,100)+"..."%>
    <% var test = item.title; %>

<a href="/post/<%=item.title%>">Read more</a>
  </p>
<%});%>



    <%- include('partials/footer'); -%>
